button { cursor: pointer }
.minesweeper {
    border: 3px dashed #006d00;
    border-radius: 8px;
    padding: 10px;
}

.status-bar {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}
.status-bar > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.param {
    width: 80px;
}

.param label {
    color: #ddd;
}

.param input {
    width: 40px;
    border-radius: 8px;
    text-align: center;
    border: none;
    padding: 4px;
    background-color: #ccc;
}

.game {
    padding: 5px 5px 5px 0px;
    border-radius: 5px;
}
.row {
    display: flex;
    margin-bottom: 8px;
}
.square {
    width: 32px;
    height: 32px;
    margin-left: 8px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: inset -2px -2px 5px #ddd;
    cursor: pointer;
    font-weight: bold;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game.running .square:hover {
    background-color: #444;
    box-shadow: inset -2px -2px 5px #eee;
}

.game.gameOver .square:hover {
    cursor: default;
}

.game.running .square.revealed:hover {
    background-color: #aaa;
    box-shadow: inset 3px 3px 5px #333;
}

.square .display {
    padding-left: 3px;
}

.square.revealed {
    background-color: #aaa;
    box-shadow: inset 3px 3px 5px #333;
    cursor: default;
}

.square.revealed:hover {
    background-color: #aaa;
    box-shadow: inset 3px 3px 5px #333;
}

.square.hasMine {
    /*background-color: #555;*/
}

.square img {
    width: 24px;
    height: 24px;
}

.hasMine img {
    padding-top: 2px;
    padding-left: 2px;
}

.square.lost, .square.lost:hover{
    background-color: #a55;
}

.mines-1 { color: #00b }
.mines-2 { color: #060 }
.mines-3 { color: #b00 }
.mines-4 { color: #606 }
